.footer {
  width: 100%;
  height: 215px;
  background-color: #2C2B2B;
  color: #676A59;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer a {
  color: #3EDD88;
  font-size: 200%;
  padding: 5px;
}

.footer p i {
  color: red;
}
